// Language switch component
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

.language-switch
  user-select none
  padding 0
  position relative
  z-index $layouts.modal - 100
  cursor pointer
  border none
  border-radius 35px
  margin-left $gutter * 2
  $size(99px, 40px)

  &__active
    z-index 10
    position absolute
    top 5px
    left 5px
    background $colors.white
    border-radius 30px
    $size(47px, 30px)
    $transition-default(left)

  &--active
    .language-switch__active
      left 47px

  ul
    position relative
    z-index 100
    display flex
    justify-content space-around

    li
      height 30px
      color $colors.black
      $text($font-family.sans, 15px, $font-weight.sans.bold)
      line-height 30px
      letter-spacing 0.06em

      &:first-child
        position relative
        left 2px

      &:last-child
        position relative
        left -3px
