// Header
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

#root,
.layout,
main
  height: 100%;

.layout
  position relative
  padding-top $header.height
  padding-bottom $storage-message.height
