// Page
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

.page
  &--main,
  &--404
    height 100%

    .container
      height 100%
      display flex
      align-items center
      justify-content center

    .text
      margin-top -5vh
      display flex
      align-items center
      justify-content center

      &__wrapper
        display block
        text-align center

    h1
      margin-right $gutter

    h2
      margin 0
      text-align center
