// Project Styles
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Stylebase (uncompiled kitchen)
@import '/utils/functions'
@import '/utils/variables'
@import '/utils/mixins'
@import '/utils/placeholders'

// Core base normal style and common utils
@import '/core/animations'
@import '/core/typography'
@import '/core/grid'
@import '/core/base'
@import '/core/utilities'


// Components

// Utils
@import '/components/utils/loader'
@import '/components/utils/loading'

// Layout
@import '/components/layout/layout'
@import '/components/layout/header'
@import '/components/layout/menu'
@import '/components/layout/language-switch'
@import '/components/layout/resize'
@import '/components/layout/storage-message'


// Views

@import '/views/page'


// External libraries customization

// Global fixes
@import "/global/fixes"
