// Project Styles
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Stylebase (uncompiled kitchen)
@import '/utils/functions'
@import '/utils/variables'
@import '/utils/mixins'
@import '/utils/placeholders'

// Core base normal style and common utils
@import '/core/animations'
@import '/core/typography'
@import '/core/grid'
@import '/core/base'
@import '/core/utilities'

// Components
@import '/components/utils/loader'
@import '/components/utils/loading'

// External libraries customization
//

// Global fixes
@import "/global/fixes";
