// Project mixins
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Media
//////////////////////////////////////////////////////
// Breackpoins in stylus/utils/variables.styl


$lg()
  @media only screen and (min-width $breakpoints.lg)
    {block}

$not-lg()
  @media only screen and (max-width $breakpoints.sm-max)
    {block}

$sm-and-md()
  @media only screen and (min-width $breakpoints.sm) and (max-width $breakpoints.md-max)
    {block}

$not-gadgets()
  @media only screen and (min-width $breakpoints.md)
    {block}

$gadgets()
  @media only screen and (max-width $breakpoints.sm-max)
    {block}

$md()
  @media only screen and (min-width $breakpoints.md) and (max-width $breakpoints.md-max)
    {block}

$sm()
  @media only screen and (min-width $breakpoints.sm) and (max-width $breakpoints.sm-max)
    {block}

$not-xs()
  @media only screen and (min-width $breakpoints.sm)
    {block}

$xs()
  @media only screen and (max-width $breakpoints.xs-max)
    {block}

$min()
  @media only screen and (max-width $breakpoints.xs)
    {block}

$min--landscape()
  +$xs()
    +$landscape()
      @media (max-height: ($breakpoints.min + 10px))
        {block}

$landscape()
  @media only screen and (orientation: landscape)
    {block}

$portrait()
  @media only screen and (orientation: portrait)
    {block}

// Specific gadgets

// For problem with open keyboard on vertical mobiles
$small-open()
  @media (max-width 420px) and (max-height 400px)
    {block}

$iPadPro--landscape()
  @media only screen and (orientation landscape) and (min-height 1000px) and (min-width ($breakpoints.md + 1px)) and (max-width 1400px)
    {block}

$iPadPro--portrait()
  @media only screen and (orientation portrait) and (min-height 1300px) and (min-width ($breakpoints.md - 1px)) and (max-width ($breakpoints.md + 50px))
    {block}

$iPhoneX--landscape()
  @media only screen and (orientation landscape) and (min-width $breakpoints.sm) and (max-width ($breakpoints.md - 20px)) and (max-height 400px)
    {block}

$iPhoneX--portrait()
  @media only screen and (orientation portrait) and (min-height $breakpoints.sm) and (max-height $breakpoints.md - 10px) and (max-width: 450px)
    {block}

// Retina 2x
$retina()
  @media only screen and (-Webkit-min-device-pixel-ratio 1.5),
    only screen and (-moz-min-device-pixel-ratio 1.5),
    only screen and (-o-min-device-pixel-ratio 3/2),
    only screen and (min-device-pixel-ratio 1.5)
    {block}

$safari-only()
  @media not all and (min-resolution .001dpcm)
    @supports (-webkit-appearance none) and (stroke-color transparent)
      {block}

// Elements
//////////////////////////////////////////////////////

// Size )
$size($width, $height)
  width $width
  height $height


// Links
$link-color($colors, $colors-hover)
  $transition-default(color)

  &,
  &:focus
    color $colors

  &:hover,
  &:active
    color $colors-hover

// Buttons

$buttons-color($colors, $background)
  background-color $background
  color $colors
  $transition-default(background)

  &:hover,
  &:active
    background-color darken($background, $fade-percent)
    color $colors

$buttons-transparent-color($colors)
  background-color transparent
  border 1px solid $colors
  padding-top $buttons.padding.base.vertical - 1
  padding-bottom $buttons.padding.base.vertical - 1
  color $colors
  $transition-default(color)

  &:hover,
  &:active
    color darken($colors, $fade-percent)


// Effects
//////////////////////////////////////////////////////

// Default transitions

$transition-default($property)
  will-change $property
  transition $property $transition.duration $transition.timing-function $transition.delay

$transitions-default()
  list = ""
  for property in arguments
    list = join(', ', list, join(' ', property, $transition.duration, $transition.timing-function, $transition.delay));
  will-change unquote(join(', ', arguments))
  transition unquote(substr(list, 2, length(list) - 2))
