

// Project mixins
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Media
//////////////////////////////////////////////////////
// Breackpoins in stylus/utils/variables.styl

$lg()
  @media only screen and (min-width: $breackpoints.lg)
    {block}

$not-lg()
  @media only screen and (max-width: $breackpoints.sm-max)
    {block}

$not-gadgets()
  @media only screen and (min-width: $breackpoints.md)
    {block}

$gadgets()
  @media only screen and (max-width: $breackpoints.sm-max)
    {block}

$md()
  @media only screen and (min-width: $breackpoints.md) and (max-width: $breackpoints.md-max)
    {block}

$sm-and-md()
  @media only screen and (min-width: $breackpoints.sm) and (max-width: $breackpoints.md-max)
    {block}

$sm()
  @media only screen and (min-width: $breackpoints.sm) and (max-width: $breackpoints.sm-max)
    {block}

$sm()
  @media only screen and (min-width: $breackpoints.sm) and (max-width: $breackpoints.sm-max)
    {block}

$not-xs()
  @media only screen and (min-width: $breackpoints.sm)
    {block}

$xs()
  @media only screen and (max-width: $breackpoints.xs-max)
    {block}

$min() {
  @media only screen and (max-width: $breackpoints.xs)
    {block}

/*
$min--landscape()
  +$xs()
    +$landscape()
      @media (max-height: ($breackpoints.min + 10px))
        {block}

$landscape()
  @media only screen and (orientation: landscape)
    {block}

$portrait()
  @media only screen and (orientation: portrait)
    {block}

// Specific gadgets

// For problem with open keyboard on vertical mobiles
$small-open()
  @media (max-width: 420px) and (max-height: 400px)
    {block}

$iPadPro--landscape()
  @media only screen and (orientation: landscape) and (min-height: 1000px) and (min-width: ($breackpoints.md + 1px)) and (max-width: 1400px)
    {block}

$iPadPro--portrait()
  @media only screen and (orientation: portrait) and (min-height: 1300px) and (min-width: ($breackpoints.md - 1px)) and (max-width: ($breackpoints.md + 50px))
    {block}

$iPhoneX--landscape()
  @media only screen and (orientation: landscape) and (min-width: $breackpoints.sm) and (max-width: ($breackpoints.md - 20px)) and (max-height: 400px)
    {block}

$iPhoneX--portrait()
  @media only screen and (orientation: portrait) and (min-height: $breackpoints.sm) and (max-height: $breackpoints.md - 10px) and (max-width: 450px)
    {block}
*/

// Retina 2x
$retina()
  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
    only screen and (-moz-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-device-pixel-ratio: 1.5)
    {block}

/*
// Safary-only
$safari-only()
  @media not all and (min-resolution: .001dpcm)
    @supports (-webkit-appearance: none) and (stroke-color: transparent)
      {block}
*/

// Elements
//////////////////////////////////////////////////////

// Size )
$size($width, $height)
  width $width
  height $height


// Links
$link-color($colors, $colors-hover)
  $transition-default(color)

  &,
  &:focus
    color $colors

  &:hover,
  &:active
    color $colors-hover

// Buttons

$buttons-color($colors, $background)
  background-color $background
  color $colors
  $transition-default(background)

  &:hover,
  &:active
    background-color darken($background, $fade-percent)
    color $colors

$buttons-transparent-color($colors)
  background-color transparent
  border 1px solid $colors
  padding-top $buttons.padding.base.vertical - 1
  padding-bottom $buttons.padding.base.vertical - 1
  color $colors
  $transition-default(color)

  &:hover,
  &:active
    color darken($colors, $fade-percent)

/*
// Effects
//////////////////////////////////////////////////////

// Default transitions

$transition-default($property)
  will-change $property
  transition $property $transition.duration $transition.timing-function $transition.delay

$transitions-default()
  list = ""
  for property in arguments
    list = join(', ', list, join(' ', property, $transition.duration, $transition.timing-function, $transition.delay));
  will-change unquote(join(', ', arguments));
  transition unquote(substr(list, 2, length(list) - 2))
*/



/*// Visibility utilities
//////////////////////////////////////////////////////

// stylelint-disable declaration-no-important
.visible--desktop,
.visible--gadgets,
.visible--tablet,
.visible--mobile,
.visible--desktop--inline-block,
.visible--gadgets--inline-block,
.visible--tablet-inline-block,
.visible--mobile--inline-block,
.visible--desktop--inline,
.visible--gadgets--inline,
.visible--tablet--inline,
.visible--mobile--inline
  display none !important

.visible--desktop
  +$not-gadgets()
    display block !important

.visible--gadgets
  +$gadgets()
    display block !important

.visible--tablet
  +$sm()
    display block !important

.visible--mobile
  +$xs()
    display block !important

.visible--desktop--inline-block
  +$not-gadgets()
    display inline-block !important

.visible--gadgets--inline-block
  +$gadgets()
    display inline-block !important

.visible--tablet--inline-block
  +$sm()
    display inline-block !important

.visible--mobile--inline-block
  +$xs()
    display inline-block !important

.visible--desktop--inline
  +$not-gadgets()
    display inline !important

.visible--gadgets--inline
  +$gadgets()
    display inline !important

.visible--tablet--inline
  +$sm()
    display inline !important

.visible--mobile--inline
  +$xs()
    display inline !important

.hidden--desktop
  +$not-gadgets()
    display none !important

.hidden--gadgets
  +$gadgets()
    display none !important

.hidden--tablet
  +$sm()
    display none !important

.hidden--mobile {
  +$xs()
    display none !important
*/
