// Project variables
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Sizes and layouts
//////////////////////////////////////////////////////

$gutter = 20px

$layouts = {
  modal: 2500,
  fixed: 2000,
  popups: 1500,
  content: 1000,
}


// Breackpoints
//////////////////////////////////////////////////////

$breackpoints = {
  min: 320px,
  xs: 359px,
  sm: 768px,
  md: 1025px,
  lg: 1240px,
}

$breackpoints['xs-max'] = $breackpoints.sm - 1
$breackpoints['sm-max'] = $breackpoints.md - 1
$breackpoints['md-max'] = $breackpoints.lg - 1


// Effects
//////////////////////////////////////////////////////

$transition = {
  duration: 0.2s,
  timing-function: ease-out,
  delay: 0s,
}

$shadows = {
  coords-x: 0,
  coords-y: 1px,
  size: 4px,
  stretch: 0,
}

$fade-percent = 8%


// Colors
//////////////////////////////////////////////////////

$colors = {

  // Palette
  //////////////////////////////////////////////////////

  mint: #44c6a8,
  cian: #22b394,
  blue: #2d84c6,
  green: #21b499,
  orange: #f0ac61,
  red: #ef2a33,

  //Grays

  white: #fff,
  black: #000,
  gray: #cfdae0,

  // Special

  light: #fafafa,

  // Text

  text: #6c7a89,

  // Links

  link: #557aa7,
  link-hover: #44529c,
}

// Dependencies colors

// Main palette

$colors['primary'] = $colors.mint
$colors['second'] = $colors.blue
$colors['warning'] = $colors.orange
$colors['error'] = $colors.red
$colors['success'] = $colors.green

// Shadows

$colors['shadows'] = rgba($colors.black, 0.15)
$shadows['colors'] = $colors.shadows

// Functional

$colors['disabled'] = darken($colors.light, $fade-percent * 4)
$colors['placeholder'] = $colors.disabled

$colors['background'] = $colors.light

// Borders

$colors['border'] = $colors.gray


// Elements
//////////////////////////////////////////////////////

// Roundings

$borders = {
  radius: {
    small: 2px,
    large: 4px
  },
  color: $colors.border,
}


// Constrols

$inputs = {
  height: $gutter * 2,
}


// Buttons

$buttons = {
  padding: {
    base: {
      horizontal: $gutter * 1.5,
      vertical: 6px,
    }
  }
}


// Views
//////////////////////////////////////////////////////

$loader = {
  size: {
    default: 100px,
  }
}

$header = {
  height: 100px,
}

$storage-message = {
  height: 80px,
}
