// Loader
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

.loader
  $size($loader.size.default, $loader.size.default)

  svg path
    fill $colors.primary
