// Paragraph conponent
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

.paragraph
  a
    text-decoration underline
    $link-color($colors.primary, $colors.primary)

    &:hover
      text-decoration none
