// Main Elements (easy normalize)
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// @media all {}

html
  -webkit-text-size-adjust none
  min-height 100%

body
  min-height 100%
  color $colors.text
  background $colors.white
  margin 0
  padding 0
  quotes "\00ab" "\00bb"

  // Normal text
  $text($font-family.sans, $font-size.small, $font-weight.sans.regular)

  overflow-x hidden // not scrolling horizontal body
  backface-visibility hidden
  webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  ::selection
    // background transparentify($colors.second, $colors.second, 0.5)


// No outline on focus controls!!!
button,
input,
textarea,
a
  outline none !important

  &:hover,
  &:active,
  &:focus
    outline: none !important


// All blocks to border-box!!!
main,
article,
aside,
figure,
address
section,
div,
form,
fieldset,
input,
select,
button,
a
  box-sizing border-box


// Links
a
  text-decoration none
  $link-color($colors.link, $colors.link-hover)


// Buttons

button
  cursor pointer
  border none
  border-radius $borders.radius.large
  padding $buttons.padding.base.vertical $buttons.padding.base.horizontal
  $buttons-color($colors.white, $colors.primary)
  $text($font-family.sans, $font-size.normal, $font-weight.sans.regular)


// Controls

input
textarea
  border 1px solid $colors.border
  border-radius $borders.radius.small
  padding 0 ($gutter / 2)
  $text($font-family.sans, $font-size.normal, $font-weight.sans.regular)

input
  height $inputs.height;

textarea
  display: block
  resize: none


// Lists
ul
  list-style-type none
  padding-left 0
  margin 0

  // For classic style
  // &.list-style
  //   @extends $list-style


// Sections
main,
article,
aside,
figure,
address,
div,
form,
fieldset
  margin 0
  padding 0


// Others

fieldset
iframe
  border-width 0


// stylelint-enable no-descending-specificity
// stylelint-disable

// WebKit Scrollbar
//////////////////////////////////////////////////////

/* Let's get this party started */
::-webkit-scrollbar
    width calc($gutter / 2)

/* Track */
::-webkit-scrollbar-track
    background $colors.primary

/* Handle */
::-webkit-scrollbar-thumb
    background: $colors.text

// Customize Placeholder
//////////////////////////////////////////////////////

::-webkit-input-placeholder
  color $colors.placeholder !important
::-moz-placeholder
  color $colors.placeholder !important /* Firefox 19+ */
:-moz-placeholder
  color $colors.placeholder !important /* Firefox 18- */
:-ms-input-placeholder
  color: $colors.placeholder !important

:focus::-webkit-input-placeholder
  color transparent
:focus::-moz-placeholder
  color transparent
:focus:-moz-placeholder
  color transparent
:focus:-ms-input-placeholder
  color transparent
